/* Hide scrollbar for all elements */
* {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  }
  
  *::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  

 

.typing-container {
    margin-top: 50%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
}

.typing-text {
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0px 0px 5px hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    white-space: nowrap;
    margin-top: 60%;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(40, end) infinite;
}
.admin-choices{
    margin: 10px;
    width: 30%;
}
nav {
    position: relative;
    width: 100%;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    top: -7px;
    right: 0px;
    z-index: 10; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.line {
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    background: rgba(44, 62, 80, 0.2);  
    position: absolute;
    top: 70px;
    right: 10px;
    width: 100%;
    height: 280px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-size: 1.3rem;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-radius: 10px;
    transition: background 0.1s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.247); 
}



/* Enroll now btn */


.btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30%;
}
#enroll-now-btn {
    font-size: 16px; 
    background-color: rgb(255, 255, 255); 
    color: hsl(0, 0%, 0%); 
    cursor: pointer;  
} 

.button-89 {
  --b: 3px;  
  --color: #ffffff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #ffffff;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }

}
/* MEDIA QUERIES */
@media (min-width: 768px) {
    .btn-container {
        margin-top: 0;
    }
    #enroll-now-btn {
        padding: 20px 40px;
        font-size: 20px;  
    }
    .typing-text {
        font-size: 35px;
    }
    .nav-links {
        font-size: 1.5rem;
    }
    .line {
        height: 6px;
    }
        .burger-menu {
        height: 40px;
        top: 0;
    }
}



/* FOOTER STYLES */
.footer {
    margin-top: 50vh;
    background: rgba(44, 62, 80, 0.2);  
    backdrop-filter: blur(10px); 
    border-radius: 15px;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.footer-section ul li a:hover {
    text-decoration: underline;
}
.footer-section p {
    line-height: 1.6;
}
.footer-section a {
    color: hsl(0, 0%, 100%);
    font-size: 1.2rem;
    margin: 0 10px;
}
.footer-section a:hover {
    color: hsl(204, 70%, 53%);
}
.footer-bottom {
    background-color: hsl(209, 29%, 14%);
    padding: 10px 0;
    font-size: 0.8rem;
    margin-top: 10px;
}

@media (min-width: 1024px) {
    .choice {
        height: 250px;
        margin: 30px;
        margin-top:-30px;
    }
        .container h1 {
            font-size: 3.5rem;
        }
        
    }


@media (min-width: 1024px) {
    .nav-links {
        display: flex;
        position: relative;
        top: 55px;
        right: 40px;
        flex-direction: row;
        justify-content: flex-end;
        width: auto;
        background: transparent;
        backdrop-filter: none;
        box-shadow: none;
        font-size: 20px;
    }
    
    .burger-menu {
        display: none;
    }
    .typing-text {
    margin-top: 15%;
    margin-left: 25%;
}
#h1 {
    margin-top: -21%;
}
}
@media (min-width: 1440px) {
    .nav-links {
        top: 35px;
        right: 40px;
        font-size: 30px;
    }
    
    .burger-menu {
        display: none;
    }
    .typing-text {
    margin-top: 15%;
    margin-left: 25%;
}
} 

